{% extends 'base.html' %}

{% block content %}
  {% if not db_user or not db_password %}
    <div class="content">
      <p>We can't access the postgresql credentials</p>
    </div>
  {% endif %}

  {% if db_user and db_password and db_host %}
    <div class="content">
      <p>
        postgresql url being used: <br>
        postgres://{{ db_user }}:{{ db_password }}@{{ db_host }}/notes -c "SELECT * FROM user;"<br>
        <br>Test Connection: <br>
        psql postgres://{{ db_user }}:{{ db_password }}@localhost/notes -c "SELECT * FROM user;"<br>
      </p>
    </div>
  {% endif %}
{% endblock %}
